p.note Everything here is experimental, and the API is no exception, so expect things to change in future releases.

#api
  h2 Alfred.open (path_to_database, [options, ] callback)
  p Opens a new or an existing database that resides in <i>path_to_database</i>.
  p
    ul
      li <b>path_to_database</b>: directory where the database files (will) reside. Must already exist.
      li <b>callback</b> (err, db): invoked when there is an error or the database is open. Use db to access / create / remove key maps.
      li <b>options:</b>
        ul
          li <b>meta_compact_interval</b>: default average compact interval for the metadata key map, in miliseconds. Defaults to 1 hour (1000 * 60 * 60).
          li <b>replication_master</b>: true if this database is going to act as a replication master. Defaults to false.
          li <b>replication_port</b>: replication server port for this database. Defaults to 5293.
          li <b>replication_max_file_size_kb</b>: maximum file size for replication temporary files on master. Defaults to 10000 KBytes.
          li <b>replication_max_keep_ms</b>: maximum time a replication temporary file should be kept around. Defaults to 15 days.
  h3 Example:
  pre
    code
      | var Alfred = require('alfred');
      | Alfred.open('path/to/database/dir', function(err, db) {
      |   if (err) { throw err; }
      |   // now I have the db object to do stuff
      | });
  
  h2 database.attach (key_map_name [, options], callback)
  p Attaches a key map to this database.
  p
    ul
      li <b>key_map_name</b>: name of this key map. Will be available as a named property of database (<i>database.&lt;key_map_name&gt;</i> or <i>database[key_map_name]</i>).
      li <b>callback</b> (err, key_map): invoked when there is an error or the key map is attached.
      li <b>options</b>:
        ul
          li <b>buffered</b>: if <i>true</i>, writes are buffered (flushes are scheduled every second after the last one by default). If <i>false</i>, key_map.put only callsback when data is written to disk. Defaults to <i>true</i>.
          li <b>flush_interval</b>: This determines the frequency of flushes. A flush is scheduled <i>flush_interval</i> miliseconds after the last one finished. In miliseconds. Defaults to 1000 (1 second).
          li <b>type</b>: can be 'cached_key_map' or 'indexed_key_map'. Defaults to 'cached_key_map'. ('cached_key_map' is also indexed)
          li <b>compact_interval</b>: average compact interval, in miliseconds. Defaults to 1 hour (1000 * 60 * 60).
          li <b>cache_slots</b>: Maximum number of objects to cache (only valid if type is 'cached_key_map'). Defaults to 1000.
    h3 Example:
    pre
      code
        | var Alfred = require('alfred');
        | Alfred.open ('path/to/database/dir', function(err, db) {
        |   if (err) { throw err; }
        |   console.log(db.users); // -> undefined
        |   db.attach ('users', function(err, users_key_map) {
        |     if (err) { throw err; }
        |     // now you can use users_key_map
        |   })
        | });
          
  h2 database.ensure (key_map_name [, options], callback)
  p If not attached, attaches this key map.
  p If already attached does nothing. If you need to change the options on this key_map, you must detach and then attach.
  h3 Example:
  pre
    code
      | var Alfred = require('alfred');
      | Alfred.open('path/to/database/dir', function(err, db) {
      |   if (err) { throw err; }
      |   db.ensure ('users', function(err, users_key_map) {
      |     if (err) { throw err; }
      |     // now you can use users_key_map
      |   })
      | });

  h2 database.detach (key_map_name, callback)
  p Detaches a key map from this database.
  p <i>database.&lt;key_map_name&gt;</i> must already be attached.
  p
    ul
      li <b>key_map_name</b>: name of the key map to be detached.
      li <b>callback</b> (err): invoked when an error occurs or when key map is detached.
    h3 Example:
    pre
      code
        | var Alfred = require('alfred');
        | Alfred.open('path/to/database/dir', function(err, db) {
        |   if (err) { throw err; }
        |   console.log('users' in db); // -> true
        |   db.detach('users', function(err) {
        |     if (err) { throw err; }
        |     console.log(db.users); // -> undefined
        |   })
        | });

  h2 database.close (callback)
  p Closes all key maps and meta data.
  p You should call this before leaving.
  p
    ul
      li <b>callback</b> (err): when an error occurs or the database ends.
  
  h1 Events
  
  p Bind to events like this:
  
  p
    pre
      code
        | db.on('error', function(err) {
        |   // handle error
        | });
  
  h2 'error'
  p Emitted when there is an unhandled error. You should catch these.
  p <b>callback</b> (err)
  
  h2 'key_map_attached'
  p Emitted when a key map is attached into this database.
  p <b>callback</b> (key_map_name)

  h2 'index_added'
  p Emitted when an index is added into a key map attached to this db.
  p <b>callback</b> (key_map_name, index_name)

  h2 'index_dropped'
  p Emitted when an index is removed from a key map attached to this db.
  p <b>callback</b> (key_map_name, index_name)
  