p.note Everything here is experimental, and the API is no exception, so expect things to change in future releases.

#api
  h2 Table of Contents
  ul
    li <a href="/api/odm">Object Document Model (ODM)</a> - documents as high-level objects with validations
    li <a href="/api/database">Database</a> - open a database and manupulate key maps
    li <a href="/api/key_map">KeyMap</a> - put, get and find records. Index manipulation. Streams.
    li <a href="/api/find">Find</a> - Use KeyMap finder chainable API to find records
      ul
        li <a href="/api/find/operators">Find operators</a>
    li <a href="/api/replication">Replication</a> - setup master and slave replication.