p.note Everything here is experimental, and the API is no exception, so expect things to change in future releases.

#api
  h2 Table of Contents
  ul
    li <a href="/api/database">Database</a> - open a database and manupulate key maps and indexes
    li <a href="/api/key_map">KeyMap</a> - put, get and find records