#internals
  h1 Internals

  ol
    li
      a(href='/internals/model') Internal Object Model
    li
      a(href='/internals/files') File structure
    li
      a(href='/internals/replication') Replication internals