#examples
  h1 Examples (raw accesss)
  
  h2 Define a User model
  p
    pre
      code
        | var User = db.define('User');
        | User.property('name');
        | User.property('address');
        | User.property('age', Number);
        | User.property('married', 'boolean');
        | User.property('email', 'string');
        | User.index('age', function(user) {
        |   return user.age;
        | });

  h2 Create a new User document
  p
    pre
      code
        | var user = User.new(USER);
        | user.save(function(validationErrors) {
        |   assert.ok(errors === null, 'errors is not null');
        |   console.log('User saved');
        | });

  h2 Find User document by ID
  p
    pre
      code
        | var id = 'abc';
        | User.get(id, function(user) {
        |   console.log('found user: ' + user.inspect());
        | });
        
  h2 Find
  p
    pre
      code      
        |  User.find({age: {$lte: 30}}) (function(gotUser) {
        |    assert.ok(user.equal(gotUser), 'user ('+user.toString()+') and gotten user ('+gotUser.toString()+') are different');
        |     done();
        |   }).all(function(users) {
        |     assert.equal(1, users.length);
        |     assert.ok(user.equal(users[0]), 'user ('+user.toString()+') and gotten user ('+users[0].toString()+') are different');
        |     done();
        |   }).where({age: {$gt: 30}}).all(function(users) {
        |     assert.equal(0, users.length);
        |     done();
        |   });
        | });
        