#intro
  p Alfred is a fast <b>in-process key-value store</b> for <b><a href="http://nodejs.org">node.js</a></b>
  p.note Note that Alfred is still very young, so you shouldn't use it on live systems just yet.
  section
    h2 What does it do?
    .explanation
      p Some features are:
        ol
          li multiple key-value maps in on database
          li atomic operations on one record
  section
    h2 How can I install Alfred?
    .explanation
      p Install via npm:
      p
        code
          $ npm install alfred
  section
    h2 Examples:
    .explanation
      p
        pre
          | var Alfred = require('alfred');
          | Alfred.open('path/to/db', function(err, db) {
          |   if (err) { throw err; }
          |   db.users.find({age: {$gt : 25, $lte: 40}}) (function(err, user) {
          |     if (err) { throw err; }
          |     console.log(user);
          |   });
          | });
      p See the <a href="/examples">Examples page</a>.
  section
    h2 How does it work?
    .explanation
      p dsdsds fklsdj flkdsjf lskfj lskdfj sldkfj sldkfj lksdfj lsdkfj lskdfj lsf jlkdsfj lsdkj flskdfj lksdfj lskdfj sdlkfj lksd jflsdkjf l ksdj flsdkjf lk sdjf lsdkjf 