!!! 5
html
  head
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
    script(type='text/javascript', src='/javascripts/jquery.tmpl.min.js')
    script(type='text/javascript', src='/javascripts/flot/jquery.flot.min.js')
    link(rel='stylesheet', href='/stylesheets/benchmarks.css')
    title Alfred.js
  body
    #header
      h1
        a(href='/') Alfred
      p
        i Node is your mansion, Alfred is your butler
      #menu
        ul
          li
            a(href='/api') API
          li
            a(href='/examples') Examples
          li
            a(href='/features') Features
          li
            a(href='/internals') Internals
          li
            a(href='/benchmarks') Benchmarks
          li
            a(href='https://github.com/pgte/alfred') Browse source
          li
            a(href='/') Home
    #main
      #container!= body
      #footer
        &copy; Pedro Teixeira <a href="http://metaduck.com">Blog</a> &middot; <a href="https://github.com/pgte">GitHub</a> &middot; <a href="http://twitter.com/pedrogteixeira">@pedrogteixeira</a>
