!!! 5
html
  head
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
    script(type='text/javascript', src='/javascripts/jquery.tmpl.min.js')
    script(type='text/javascript', src='/javascripts/flot/jquery.flot.min.js')
    script(type='text/javascript', src='/javascripts/benchmarks.js')
    link(rel='stylesheet', href='/stylesheets/benchmarks.css')
    title Alfred Benchmarks
  body
    #main
      #container!= body
